<section class="card">
  <div class="card__wrapper">
    <app-apex-bar></app-apex-bar>
    <div class="card__image-wrapper">
      <canvas id="barChart">{{chart}}</canvas>
    </div>

    <div class="card__content">

      <div class="card__text">
        <h1 class="card__content-title">Comparison of prices</h1>
        <p>On this page you can compare high price of the day with low price on respective day.</p>
        <p>There is several timeframes, which can be used</p>
      </div>

      <div class="card__accordion accordion">
        <div class="card__accordion-head">
          <h2 class="card__accordion-title">Comparison of libraries</h2>
          <button class="card__accordion-toggler accordion__toggler" type="button" aria-label="Open"><span
              class="accordion__toggler-icon"></span></button>
        </div>
        <div class="card__accordion-content accordion__content">
          <p class="card__accordion-text accordion__inner">
            Above is bar chart, build with ApexChart.js
            Below is a bar chart, build with Chatrs.js library
            Data used for both charts is identical
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
