<section class="card">
    <div class="card__wrapper">

         <div>
            <p>This bar can change its type</p>
            <app-type-change></app-type-change>
        </div>
        <div>
            <p>This bar can pick up data of company</p>
            <app-company-change></app-company-change>
        </div>
        <div class="card__content">

            <div class="card__text">
                <h1 class="card__content-title">Modification options</h1>
                <p>This page is dedicated to show additional modification of chart. </p>
                <p></p>
            </div>

            <div class="card__accordion accordion">
                <div class="card__accordion-head">
                    <h2 class="card__accordion-title">How to use</h2>
                    <button class="card__accordion-toggler accordion__toggler" type="button" aria-label="Open"><span
                            class="accordion__toggler-icon"></span></button>
                </div>
                <div class="card__accordion-content accordion__content">
                    <p class="card__accordion-text accordion__inner">
                        Chart on the top shows how easily form of presentation of data can be changed. As source was
                        used compact version of data for TESCO company
                        Chart on the bottom changes based on choosen by user company. As source was chosen full version
                        of data of all avaivable companies
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
