
  <section class="card">
  <div class="card__wrapper">
    <div class="card__image-wrapper">
      <tradingview-widget [widgetConfig]="widgetConfig"></tradingview-widget>
    </div>
    <div class="card__content">

      <div class="card__text">
        <h1 class="card__content-title">Tradingview</h1>
        <p>Where the world charts, chats and trades markets..</p>
        <p>It's a supercharged super-charting platform and social network for traders and investors</p>
      </div>

      <div class="card__accordion accordion">
        <div class="card__accordion-head">
          <h2 class="card__accordion-title">How to use</h2>
          <button class="card__accordion-toggler accordion__toggler" type="button" aria-label="Open"><span
              class="accordion__toggler-icon"></span></button>
        </div>
        <div class="card__accordion-content accordion__content">
          <p class="card__accordion-text accordion__inner">
            TradingView is a charting platform used by traders and investors worldwide.
            TradingView widget is a free widget can be used in Ract, Angular and Vue. There is a
            angular-tradingview-widget is already built in github.
            Install failed, because angular-tradingview-widget is using Angular 9, not supporting Angular 13 yet.
            For build own tradingview-widget the source files in github repository was used
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
