.apex-wrapper {
  width: 100%
}
button {
  background: #fff;
  color: #222;
  border: 1px solid #e7e7e7;
  border-bottom: 2px solid #ddd;
  border-radius: 2px;
  padding: 4px 17px;
}

button.active {
  color: #fff;
  background: #d1c7bd;
  border: 1px solid #d1c7bd;
  border-bottom: 2px solid #d1c7bd;
}

button:focus {
  outline: 0;
}
